@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');


$main-bg-color: #f1f2f0;
$green: #00c993;
$lightGreen: #00e5a4;
$dark: #343434;
$lightBlue: #00AAE5;
$blue: #2979FF;
$sgreen: #6DE9D3;
$sgreen_hover: #52BFAB;
$splash_gray: #2A2A2A;



.background-picture {
  background: url('https://res.cloudinary.com/dxih0rp6w/image/upload/v1505282137/compress_this_image-min_2_pzdt5m.jpg');
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(2px);
  z-index: 0;
}

.headshot {
  height: 20%;
  width: 20%;
}

.about-page {
  overflow: scroll;
}

.background-overlay {
  background-color: black;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.top-nav-bar {
  height: 70px;
  top:0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.footer {
  height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  font-family: 'Raleway', sans-serif;
  justify-content: space-between;
  display: flex;
}

.copyright-container {
  font-size: 14px;
  color: white;
  margin-left: 20px;
  // margin-bottom: 20px;
  // border-style: solid;
  // border-color: white;
}

.social-media-container {
  color: white;
}

.privacy-policy-container {
  margin-right: 20px;
}

.privacy-policy {
  font-size: 14px;
  color: white;
  text-decoration: none;
}




.name:hover{
  cursor: pointer;
}

.name {
  color: white;
  font-size: 25px;
  text-decoration: underline;
  text-decoration-color: $green;
  background-color: transparent;
  border-color: transparent;
}

.right-nav-bar {
  font-size: 14px;
  display:flex;
  justify-content: space-between;
}

.about-nav-bar {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  font-size: 14px;
}

.home-nav-bar {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  font-size: 14px;
}

.home-nav-bar:hover, .about-nav-bar:hover {
  cursor: pointer;
}

.contact-nav-bar {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  font-size: 14px;
}

.home-nav-bar-container {
  margin-top: 35px;
  margin-right: 90px;
}

.about-nav-bar-container {
  margin-top: 35px;
  margin-right: 90px;
}

.contact-nav-bar-container {
  margin-top: 35px;
  margin-right: 50px;
}

@media (min-width: 700px) {
  // apply these styles if the page width is greater than 700px
  .login-cards-container {
    display: flex;
    justify-content: space-between;
    // border-style: solid;
    // border-color: white;
    color:white;
    width: 700px;
    height: 330px;
  }

  .login-slogan-container {
    // border-style: solid;
    // border-color: white;
    height: 120px;
    width: 700px;
    font-family: 'Raleway', sans-serif;
    color: white;
    display: flex;
    justify-content: flex-start;
  }

  .name-container {
    margin-left: 70px;
    margin-top: 28px;
  }
}

@media (max-width: 700px) {
  //apply these styles if the page width is less than 700px
  .login-cards-container {
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color:white;
    width: 700px;
    height: 330px;
    margin-right: 50px;
  }

  .login-slogan-container {
    height: 120px;
    width: 700px;
    font-family: 'Raleway', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
  }

  .name-container {
    margin-left: 10px;
    margin-top: 28px;
  }

  .home-nav-bar, .privacy-policy-container, .about-nav-bar,
  .contact-nav-bar, .copyright-container, .social-media-container{
    display: none;
  }

  .main-login-cards-container{
    margin-top: 13vh !important;
  }

  .guide-modal-create-class {
    width: 400px !important;
  }

  .background-picture, .background-overlay{
    height: 1200px !important;
  }
}

@media (max-width: 400px) {
  .guide-modal-create-class {
    width: 300px !important;
  }
}

.main-login-cards-container {
  justify-content: center;
  display:flex;
  height: 450px;
  z-index: 2;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 20vh;
}

.middle-login-cards-container {
  width: 700px;
  // border-style: solid;
  // border-color: white;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.classroom-word {
  color: $green;
}

.future-word {
  color: $green;
}

.login-slogan {
  // border-style: solid;
  font-size: 27px;
  font-weight: 400;
  color: white;
}

.login-card-picture {
  max-width: 100%;
  border-bottom: solid 4px;
  border-color: $green;
}

.login-card {
  height: 290px;
  width: 175px;
  background-color: $dark;
  transition: transform .4s;
  margin-bottom: 30px;


  &::after {
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.05, 1.05, 1);

    &::after {
      opacity: 1;
    }
  }
}

.login-card:hover{
  cursor: pointer;
}

.card-title {
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  display:flex;
  align-items: center;
  justify-content: center;
}

img:not(.customImage){
  width: 100%;
}

.student-signup-cards-container {
  justify-content: center;
  align-items: center;
  display:flex;
  height: 400px;
  z-index: 2;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  // border-style: solid;
  // border-color: white;
  margin-top: 20vh;
}

.middle-student-cards-container {
  width:320px;
  background-color: $dark;
  padding-top: 40px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.middle-professor-cards-container {
  width:320px;
  background-color: $dark;
  padding-top: 40px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.student-signup-slogan-container {
  display: flex;
  justify-content: center;
}

.professor-signup-slogan-container {
  display: flex;
  justify-content: center;
  // border-style: solid;
  // border-color:white;
}

.student-signup-slogan {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: white;
}

.professor-signup-slogan {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: white;
}

.student-word {
  text-decoration: underline;
  text-decoration-color: $green;
}

.professor-word {
  text-decoration: underline;
  text-decoration-color: $green;
}

.student-signup-acesscode-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.student-signup-wrongacesscode-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid red;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

// input[type="text"].student-signup-wrongacesscode-input::-webkit-input-placeholder{
//   font-family: 'Raleway', sans-serif;
// }

.wrong-access-alert {
  color: red;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.empty-access-alert {
  color: red;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.professor-signup-lecture-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.professor-signup-empty-lecture-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid red;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.student-signup-firstname-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.student-signup-firstname-input:focus, .student-signup-acesscode-input:focus, .professor-signup-firstname-input:focus, .professor-signup-lecture-input:focus{
  border-bottom: 1px solid $green;
}

// input[type="text"].student-signup-wrongacesscode-input::-webkit-input-placeholder{
//   font-family: 'Raleway', sans-serif;
// }

.empty-name-alert {
  color: red;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.empty-lecture-alert {
  color: red;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.student-signup-empty-firstname-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid red;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}



.professor-signup-firstname-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.professor-signup-empty-firstname-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid red;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.student-signup-submit {
  background-color: $green; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 280px;
  border-radius: 4px;
  margin-top: 40px;
  transition: color 0.3s, background-color 0.3s;
  font-family: 'Raleway', sans-serif;
}

.student-signup-submit:hover {
  cursor: pointer;
}

.student-signup-register {
  background-color: $lightBlue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 280px;
  border-radius: 4px;
  margin-top: 20px;
  transition: color 0.3s, background-color 0.3s;
  font-family: 'Raleway', sans-serif;
}

.student-signup-register:hover {
  cursor: pointer;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.08);
}

.professor-signup-submit {
  background-color: $green; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 280px;
  border-radius: 5px;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
}

.student-signup-card {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.professor-signup-card {
  display:flex;
  justify-content: center;
  align-items: center;
}

::-webkit-input-placeholder {
  color: white;
  opacity: 0.4;
  font-family: 'Raleway', sans-serif;
}

:focus {
  outline: 0;
}

.guide-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  background-color: $main-bg-color;
}

.dashboard-header{
  z-index: 2;
  position: fixed;
  right: 0;
  left: 0;
  background-color: $green;
  color: white;
  padding: 10px;
  height: 40px;
  display: flex;
  width: 100%;
  // flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 2px 10px lightgrey;
}

.splash-header{
  z-index: 2;
  position: fixed;
  right: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);
  padding: 20px 0 10px 0;
  height: 80px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.splash-header-name, .navbar-signup, .navbar-login, .navbar-signup-2, .splash-page2-header, .splash-page2-subheader{
  font-family: Raleway, sans-serif;
  font-weight: bold;
}

.splash-header-name{
  font-size: 30px;
  padding-left: 60px;
  color: $sgreen;
}

.navbar-signup, .navbar-login{
  border-radius: 5px;
  font-size: 22px;
  padding: 5px 20px;
  border: 2px solid $sgreen;
  position: relative;
  top: 5px;
}

.navbar-signup {
  margin-right: 20px;
  color: white;
  background-color: $sgreen;
}

.navbar-signup:hover, .navbar-signup-2:hover{
  background-color: $sgreen_hover;
  border-color: $sgreen_hover;
  cursor:pointer;
}

.navbar-login:hover{
  color: $sgreen_hover;
  border-color: $sgreen_hover;
  cursor:pointer;
}

.navbar-login{
  color: $sgreen;
  margin-right: 10px;
}

.splashImageContainer{
  display: flex;
  padding-top: 5%;
}

.spashCont{
  padding-top: 100px;
  margin-left: 60px;
}

.splashText{
  flex: 1;
  font-family: Raleway, sans-serif;
  // font-weight: bold;
}

.splashText-main{
  font-size: 30px;
  margin-bottom: 40px;
  max-width: 300px;
}

.splashText-title{
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 34px;
}

.splashImage{
  flex: 2;
  padding-left: 5%;
}

.splashText-sub{
  font-size: 22px;
  line-height: 30px;
}

.navbar-signup-2{
  margin-top: 85px;
  border-radius: 5px;
  font-size: 22px;
  // padding: 5px 20px;
  padding: 5px 0px 5px 20px;
  border: 2px solid $sgreen;
  background-color: $sgreen;
  color: white;
  width:130px;
}

.demoImage{
  width: 700px;
}

.dashboardBody-container {
  background-color: #fff;
  position: fixed;
  overflow: scroll;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.modal-instruction {
  font-family: 'Raleway', sans-serif;
  font-size:18px;
}

.modal-instruction-welcome {
  font-size:23px;
  font-weight:600;
  border-bottom-style: solid;
  color:black;
  padding-bottom: 10px;
  border-bottom-width:thin;
}

.splash-page2-container{
  margin-top: 300px;
  height: 900px;
  background-image: url("https://res.cloudinary.com/dxih0rp6w/image/upload/c_scale,h_800/v1508044321/Webp.net-compress-image_f668bi.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.splash-page2-container-green-filter{
  width: 100%;
  background-color: rgba(109, 233, 210, 0.8);
  height: 100%;
}

.splash-page2-header{
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 900;
  padding-top: 180px;
  line-height: 43px;
  width: 80%;
  max-width: 800px;
  margin: auto;
}

.splash-page2-subheader{
  text-align: center;
  color: white;
  font-size: 35px;
  font-weight: 900;
  padding-top: 70px;
  margin-bottom: 40px;
}

.row1col5, .row1col3, .row_inner1, .row_inner2{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 35px;
}

.r1c5, .r1c3{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  line-height: 35px;
}

.splash-page2-img1, .splash-page2-img2{
  width: 100px;
  float: right;
  padding-right: 25px;
}

.splash-image-border{
  width: 100px;
  float: right;
  margin-right: 25px;
  border-width: 2px;
  border-color: $sgreen;
  border-style: solid;
  border-radius: 50px;
}

.splash-image-border:hover{
border-color: $lightBlue;
}

.member-name:hover{
  color: $lightBlue;
}

.pad1{
  padding-top: 20px;
}

.pad2{
  padding-top: 10px;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.outer{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.row_inner1, .row_inner2, .member-name{
  width: 250px;
}

.splash-page3-container{
  background-color: $splash_gray;
  height: 800px;
}

.splash-page3-main-pic{
  width: 230px;
}

.splash-page3-main-pic-container{
  width: 230px;
  margin: auto;
  padding-top: 130px;
  padding-bottom: 10px;
}

.text{
  font-family: 'Raleway', sans-serif;
}

.page3-header{
  font-weight: bold;
  color: #50E3C2;
  font-size: 35px;
  text-align: center;
  padding-bottom: 20px;
}

.page3-subHeader{
  font-weight: bold;
  font-size: 25px;
  color: white;
  line-height: 35px;
  text-align: center;
  max-width: 480px;
  margin: auto;
  padding-bottom: 20px;

}

.demoImagehidden{
  display: none;
  width: 300px;
  padding-bottom: 40px;
}

.splash-screen4{
  height: 800px;
}

.screen4-title{
  color: $sgreen;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 40px;
}

.member-name{
  color: $sgreen;
  font-weight: bold;
  font-size: 20px;
}

.member-school{
  font-weight: normal;
  color: black;
  font-size: 13px;
  padding-top: 3px;
}
.member-profession{
  font-weight: bold;
  color: black;
  font-size: 15px;
  padding-top: 3px;
}

.sample-login-information{
  line-height: 22px;
}

@media (min-width: 1100px) {
  .row{
    display: flex;
    margin-bottom: 50px;
  }

  .row1col1, .row1col4, .row1col2, .row1col3, .row1col5, .row1col6, .r1c3, .r1c5{
    flex: 1;
  }

  .mobile_size{
    display: none;
  }
}

@media (max-width:460px) {
  .navbar-signup{
    display: none;
  }
}

@media (max-width:1100px){
  .row{
    display: none;
  }

  .splash-page3-container{
    height: 1000px;
  }

  .splash-page2-container{
    height: 1100px;
  }

}

@media (max-width: 1125px){
  .demoImage{
    width: 500px;
  }
  .splashImage{
    flex: 1
  }
}

@media (max-width: 928px){
  .demoImage{
    display: none !important;
  }
  .splashImage{
    flex: 0;
  }
  .demoImagehidden{
    display: inline-block;
  }
}

@media (max-width: 587px){
  .splash-page2-container{
    height: 1450px;
  }
}



textarea, input, button { outline: none; }
