@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');


$main-bg-color: #f1f2f0;
$green: #00c993;
$lightGreen: #00e5a4;
$dark: #343434;

body {
  // background-color: $main-bg-color;
  // color: $accent-black;
  // display: flex;
  // justify-content: center;
  // font-family: 'Raleway', sans-serif;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  // height: 100%;
  // width: 100%;
  // position: absolute;
  // overflow: hidden;
}

.background-picture {
  background: url('../assets/login-page-background.jpg');
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(2px);
  z-index: 0;
}

.background-overlay {
  background-color: black;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.top-nav-bar {
  height: 70px;
  top:0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.footer {
  height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  font-family: 'Raleway', sans-serif;
  justify-content: space-between;
  display: flex;
}

.copyright-container {
  font-size: 14px;
  color: white;
  margin-left: 20px;
  // margin-bottom: 20px;
  // border-style: solid;
  // border-color: white;
}

.social-media-container {
  color: white;
}

.privacy-policy-container {
  margin-right: 20px;
}

.privacy-policy {
  font-size: 14px;
  color: white;
  text-decoration: none;
}


.name-container {
  margin-left: 70px;
  margin-top: 28px;
}

.name {
  color: white;
  font-size: 25px;
  text-decoration: underline;
  text-decoration-color: $green;
  background-color: transparent;
  border-color: transparent;
}

.right-nav-bar {
  font-size: 14px;
  display:flex;
  justify-content: space-between;
}

.about-nav-bar {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  font-size: 14px;
}

.home-nav-bar {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  font-size: 14px;
}

.contact-nav-bar {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  font-size: 14px;
}

.home-nav-bar-container {
  margin-top: 35px;
  margin-right: 90px;
}

.about-nav-bar-container {
  margin-top: 35px;
  margin-right: 90px;
}

.contact-nav-bar-container {
  margin-top: 35px;
  margin-right: 50px;
}

.main-login-cards-container {
  justify-content: center;
  display:flex;
  height: 450px;
  z-index: 2;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 20vh;
}

.middle-login-cards-container {
  width: 700px;
  // border-style: solid;
  // border-color: white;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-slogan-container {
  // border-style: solid;
  // border-color: white;
  height: 120px;
  width: 700px;
  font-family: 'Raleway', sans-serif;
  color: white;
  display: flex;
  justify-content: flex-start;
}

.classroom-word {
  color: $green;
}

.future-word {
  color: $green;
}

.login-slogan {
  // border-style: solid;
  font-size: 27px;
  font-weight: 400;
  color: white;
}

.login-cards-container {
  display: flex;
  justify-content: space-between;
  // border-style: solid;
  // border-color: white;
  color:white;
  width: 700px;
  height: 330px;
}

.login-card-picture {
  max-width: 100%;
  border-bottom: solid 4px;
  border-color: $green;
}

.login-card {
  height: 290px;
  width: 175px;
  // border-style: solid;
  // border-color: white;
  background-color: $dark;
}

.card-title {
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  display:flex;
  align-items: center;
  justify-content: center;
}

img{
  width: 100%;
}

// .signup-slogan-container {
//   height: 120px;
//   width: 700px;
//   font-family: 'Raleway', sans-serif;
//   color: white;
//   display: flex;
//   justify-content: flex-start;
//   // border-style: solid;
// }
//
// .signup-slogan {
//   font-size: 27px;
//   font-weight: 400;
//   color: white;
//   // border-style: solid;
// }
//
// .middle-signup-card-container {
//   width: 700px;
//   // border-style: solid;
//   // border-color: white;
//   display:flex;
//   flex-direction: column;
//   align-items: flex-start;
// }

.student-signup-cards-container {
  justify-content: center;
  align-items: center;
  display:flex;
  height: 400px;
  z-index: 2;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  // border-style: solid;
  // border-color: white;
  margin-top: 20vh;
}

.middle-student-cards-container {
  width:320px;
  background-color: $dark;
  padding-top: 40px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.middle-professor-cards-container {
  width:320px;
  background-color: $dark;
  padding-top: 40px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.student-signup-slogan-container {
  display: flex;
  justify-content: center;
}

.professor-signup-slogan-container {
  display: flex;
  justify-content: center;
  // border-style: solid;
  // border-color:white;
}

.student-signup-slogan {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: white;
}

.professor-signup-slogan {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: white;
}

.student-word {
  text-decoration: underline;
  text-decoration-color: $green;
}

.professor-word {
  text-decoration: underline;
  text-decoration-color: $green;
}

.student-signup-acesscode-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.student-signup-wrongacesscode-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid red;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

// input[type="text"].student-signup-wrongacesscode-input::-webkit-input-placeholder{
//   font-family: 'Raleway', sans-serif;
// }

.wrong-access-alert {
  color: red;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.empty-access-alert {
  color: red;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.professor-signup-lecture-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.student-signup-firstname-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

// input[type="text"].student-signup-wrongacesscode-input::-webkit-input-placeholder{
//   font-family: 'Raleway', sans-serif;
// }

.empty-name-alert {
  color: red;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.student-signup-empty-firstname-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid red;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}



.professor-signup-firstname-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  width: 275px;
  height: 25px;
  margin-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.student-signup-submit {
  background-color: $green; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 280px;
  border-radius: 5px;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
}

.student-signup-submit:hover {
  background-color: $lightGreen;
  cursor: pointer;
}

.professor-signup-submit {
  background-color: $green; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 280px;
  border-radius: 5px;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
}

.student-signup-card {
  display:flex;
  justify-content: center;
  align-items: center;
}

.professor-signup-card {
  display:flex;
  justify-content: center;
  align-items: center;
}

::-webkit-input-placeholder {
  color: white;
  opacity: 0.4;
  font-family: 'Raleway', sans-serif;
}
