::-webkit-scrollbar {
display: none;
}

/*black: #4B4B4B*/
$green: #00C993;
$red: #FF7E65;

/*page setup*/
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: GillSans;
}

#root, #root > div, #root > div > div {
  height: 100%
}

.body-parent{
    height: 100%
}

.body-container{
  display: flex;
  height: 100%;
}

.topics-container{
  background-color: #EFEFEF;
  flex: 3;
  overflow: scroll;
  border-right: $green solid 3px;
}

.topics-container-header{
  background-color: black;
  color: #EEEEEE;
  padding: 10px;
  height: 20px;
  display: flex;
  align-items: center;
}

.topics-container-header .course{
  position: absolute;
  margin-left: 10px;
}

.topics-container-header .lecturer{
  position: relative;
  margin: 0 auto;
}

.questions-container{
  background-color: #FFFFFF;
  flex: 5;
  overflow: scroll;
}

StudentTopicsContainer{
  overflow: scroll !important
}

.questions-container-header{
  background-color: white;
  color: black;
  padding: 10px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 425px) {
  .questions-container{
    display: none;
  }
}

/*question cards*/
.question{
  min-height: 120px;
  width: 100%;
  display: flex;
  border-top: 3px solid #DFDFDF;
  /* for animation effects */
  background-size: 200% 100%;
  background-image: linear-gradient(to left, #D9FFF5 50%, white 50%);
  transition: background-position 0.5s;
}

.question-hover {
    background-position: -100% 0%;
}

.question .question-body{
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.question-body .question-header{
  padding: 10px 50px 0;
  flex:1;
  display: flex;
  align-items: center;
}

.question-body .question-content{
  font-size: 30px;
  color: #4B4B4B; /* off-black */
  padding: 10px 50px;
  display: flex;
}

.question-body .question-footer{
  flex:1;
  padding: 0 50px;
}

.question .question-upvote-container{
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
}

.question-upvote-container .upvote-icon-container{
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button-container{
  width: 35px;
}

.delete-question{
  transform: scale(0.5);
  fill: darkgray;
}

.delete-question:hover{
  fill: $red;
  cursor: pointer;
}

#upvote-icon{
  fill: #4B4B4B;
}
#upvote-icon:hover{
  // fill: $green;
  cursor: pointer;
}

.question-upvote-container .upvote-number{
  flex: 2;
  margin: auto;
}

/*content inside question card*/
.tag{
  background: $red;
  color: white;
  border-radius: 8px;
  padding: 0 8px;
  margin: 0 10px;
}
.new-question-container{
  padding: 30px;
  height: 70px;
  display: flex;
  flex-direction: column;
}
.new-topic-container{
  margin-top: 40px;
  padding: 30px;
  height: 70px;
  display: flex;
  flex-direction: column;
}

.new-question-input-field{
  display:flex;
}

.new-question-input-field #new-question{
  flex: 8;
  margin-right: 10px;
}

#menu-item{
  padding: 5px;
}

#new-topic{
  border-radius: 10px;
  border: white;
  padding: 0 20px;
  height: 40px;
}

.new-question-input-field #new-question, .new-question-input-field #tag{
  border-radius: 10px;
  font-size:16px;
  flex:2;
  border-radius: 10px;
  border: darkgray solid 1px;
  padding: 0 20px;
  height: 30px;
}

#submit-question, #submit-topic{
  width: 100px;
  border: black solid 2px;
  background-color: rgba(0,0,0,0);
  border-radius: 20px;
  font-size: 16px;
  padding: 5px;
}
#submit-topic{
  border-color: black;
  color: black;
}
#question-help, #topic-help, #alert{
  width: 25px;
  height: 25px;
  border: black solid 2px;
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  font-size: 16px;
  margin-right: 5px;
}
#alert{
  background-color: #30383E;
  width:30px;
  height:30px;
  font-size: 20px;
  margin:0;
  color: white;
}

#alert:hover{
  cursor: pointer;
}

button:focus {
  outline: none;
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

#topic-help{
  border-color: black;
  color: black;
}
.new-question-footer, .new-topic-footer{
  margin-top:5px;
  padding: 5px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
::-webkit-input-placeholder{
  font-size: 16px;
  color: gray;
}
input[type="text"]{
  font-size:16px;
}
/*content inside topic container*/
.topic{
   min-height: 100px;
   margin: 20px;
   background-color: #FFFFFF;
   border-left: $green solid 5px;
   display: flex;
   transition: transform 0.1s, box-shadow 0.1s;
}

.topic:hover{
  transform: scale3d(1.02, 1.02, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

.topic .topic-content{
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.topic-content .topic-title{
  display: flex;
  align-items: center;
  flex: 2;
  font-size: 24px;
}

.topic-content .topic-description{
  display: flex;
  align-items: center;
  flex: 1;
  color: #989898;
}

.topic .topic-alert{
  flex: 0 0 60px;
  display: flex;
  flex-direction: column;
  padding: 20px 0 15px;
}

.topic-alert .topic-alert-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.topic-alert .topic-alert-number{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

// for form validation
@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation-name: swing;
}
