::-webkit-scrollbar {
display: none;
}

/*black: #4B4B4B*/
$green: #00C993;
$red: #FF7E65;
$hoverGray: #4B4B4B;
$lightDarkGray: #c0c0c0;


/*page setup*/
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: GillSans;
}

#root, #root > div, #root > div > div {
  height: 100%
}

.body-parent{
    height: 100%
}

.body-container{
  display: flex;
  height: 100%;
}

.topics-container{
  background-color: #EFEFEF;
  flex: 0 0 350px;
  overflow: scroll;
  // border-right: $green solid 3px;
}

.topics-container-header{
  background-color: black;
  color: #EEEEEE;
  padding: 10px;
  height: 20px;
  display: flex;
  align-items: center;
}

.topics-container-header .course{
  position: absolute;
  margin-left: 10px;
}

.topics-container-header .lecturer{
  position: relative;
  margin: 0 auto;
}

.questions-container{
  background-color: #FFFFFF;
  flex: 3;
  overflow: scroll;
}

StudentTopicsContainer{
  overflow: scroll !important
}

.questions-container-header{
  z-index: 999;
  position: fixed;
  right: 0;
  left: 0;
  background-color: $green;
  color: white;
  padding: 10px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0px 2px 10px lightgrey;
}

@media (max-width: 425px) {
  .questions-container{
    display: none;
  }
}

/*question cards*/
.question{
  min-height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top: 3px solid #DFDFDF;
  background-color: white;
  //#D9FFF5
}

.question-main-section {
  display: flex;
  justify-content: space-between;
}

.all-buttons-container {
  display: flex;
  justify-content: flex-end;
}


.question-resolve{
  background-color: #F8F8F8 !important;
}

.question-resolve .question-header, .question-resolve .question-content {
  color: #C1C1C1 !important;
}
.question-resolve .tag{
  background-color: #C1C1C1;
  color: white;
}

.question .question-body{
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.question-body .question-header{
  padding: 5px 10px 0;
  font-size: 15px;
  flex:1;
  display: flex;
  align-items: center;
}

.question-body .question-content{
  font-size: 23px;
  color: #4B4B4B; /* off-black */
  padding: 5px 10px;
  display: flex;
}

.question-body .question-footer{
  flex:1;
  padding: 0 10px;
}

.question-footer {
  flex:1;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  // transition: max-height 0.1s linear;
  // position: absolute;
}

.question-footer-1 {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  max-height: 1000px;
  transition: max-height 1s ease;
  overflow: hidden;
  background-color: #f2f2f2;
  // border-style: solid;
  // position: absolute;
}

.question-comment-container-wrapper {
  // border-style: solid;
  display: flex;
  justify-content: flex-start;
}

.question-comment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // border-style: solid;
}

.question-comments-container {
  // border-style: solid;
  display: flex;
  justify-content: flex-start;
}


.question-comments-container-spacer {
  width: 33px;
  // border-style: solid;
}

.comment-section-header {
  margin-bottom: 10px;
  font-size: 19px;
  color: $hoverGray;
}

.question-comments-container-main {
  width: 450px;
  // border-style: solid
}

.question-comment-textarea {
  border: darkgray solid 2px;;
  width: 410px;
  height: 50px;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 25px;
}

.question .question-upvote-container{
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
}

.question-upvote-container .upvote-icon-container{
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button-container{
  width: 35px;
  justify-content: center;
}

.delete-question, .star, .resolve{
  transform: scale(0.5);
  fill: darkgray;
}
.delete-question:hover, .star:hover, .resolve:hover{
  cursor: pointer;
}

.delete-question:hover{
  fill: $red;
  stroke: $red;
  stroke-width: 4px;
}

.delete-topic{
  transform: scale(0.3);
  fill: darkgray;
  position: relative;
  top: -8px;
  left: 10px;
}
.delete-topic:hover{
  cursor: pointer;
}

.delete-topic:hover{
  fill: $red;
  stroke: $red;
  stroke-width: 4px;
}

.star:hover{
  fill: $red;
  stroke: $red;
  stroke-width: 4px;
}

.resolve:hover{
  fill: green;
  stroke: green;
  stroke-width: 4px;
}

#upvote-icon{
  fill: #4B4B4B;
}
#upvote-icon:hover{
  // fill: $green;
  cursor: pointer;
}

.question-upvote-container .upvote-number{
  flex: 2;
  margin: auto;
}

.upvote-number{
  font-size: 25px;
}

/*content inside question card*/
.tag{
  background: $red;
  color: white;
  border-radius: 8px;
  padding: 0 8px 0 8px;
  margin: 0 10px 0 10px;
}

.new-question-container{
  margin-top: 40px;
  padding: 10px;
  height: 70px;
  display: flex;
  flex-direction: column;
}

.new-topic-container{
  margin-top: 40px;
  padding: 10px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  // border-style: solid;
  justify-content: flex-end;
}

.new-question-input-field{
  display:flex;
  margin-right: 10px;
}

#new-question {
  margin-right: 10px;
}

.new-question-input-field #new-question #empty-new-question{
  flex: 8;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
}

#menu-item{
  padding: 5px;
}

#new-topic{
  border-radius: 10px;
  border: $green solid 2px;
  padding: 0 20px;
  height: 30px;
}

#empty-new-topic{
  border-radius: 10px;
  // border: white;
  border-color: red;
  padding: 0 20px;
  height: 30px;
}

.new-question-input-field #new-question, .new-question-input-field #tag{
  border-radius: 10px;
  font-size:16px;
  flex:2;
  border-radius: 10px;
  border: $green solid 2px;
  padding: 0 20px;
  height: 30px;
}

#tag{
    border: $green solid 1px !important;
}

#empty-new-question{
  border-radius: 10px;
  font-size:16px;
  flex:2;
  border-radius: 10px;
  border: red solid 1px;
  padding: 0 20px;
  height: 30px;
}

#submit-question, #submit-topic{
  width: 100px;
  border: $hoverGray solid 2px;
  color: $hoverGray;
  background-color: rgba(0,0,0,0);
  border-radius: 20px;
  font-size: 16px;
  padding: 5px;
  transition: color 0.3s, background-color 0.3s
}

.input-slides {
  border: $green solid 1px;
  padding: 5px;
  border-radius: 8px;
  font-size: 15px !important;
  height: 18px;
  width: 165px;
}

.input-slides::-webkit-input-placeholder {
    font-size: 15px;
}

.question-comment-button {
  width: 100px;
  border: black solid 2px;
  background-color: rgba(0,0,0,0);
  border-radius: 20px;
  font-size: 16px;
  padding: 5px;
  transition: color 0.3s, background-color 0.3s;
  margin-top: 5px;
}

.question-comment-button:hover{
  color: white;
  background-color: black;
  cursor: pointer;
}


#submit-question:hover, #submit-topic:hover{
  color: white;
  background-color: $hoverGray;
  cursor: pointer;
}

#question-help, #topic-help {
  width: 25px;
  height: 25px;
  color: $hoverGray;
  border: $hoverGray solid 2px;
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  font-size: 16px;
  margin-right: 5px;
}

#question-help:hover, #topic-help:hover{
  color: white;
  background-color: $hoverGray;
  // cursor: pointer;
}

#alert{
  background-color: #30383E;
  width:22px;
  height:22px;
  font-size: 20px;
  margin:0;
  color: white;
  border: $hoverGray solid 2px;
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  font-size: 16px;
}

#alert:hover{
  cursor: pointer;
}

button:focus {
  outline: none;
}

.new-question-footer {
  margin-top:5px;
  padding: 5px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // border-style: solid;
}

.empty-new-question-footer {
  margin-top:5px;
  padding: 5px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // border-style: solid;
}

.new-topic-footer {
  margin-top:5px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-style: solid;
}

.empty-new-topic-footer {
  margin-top:5px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-style: solid;
}

.new-topic-container-container {
  justify-content: flex-end;
}

.empty-new-topic-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // border-style: solid;
}

.empty-new-topic-alert {
  color:red;
}

.empty-new-question-alert {
  color:red;
  margin-right: 5px;
  // border-style: solid;
}

::-webkit-input-placeholder{
  font-size: 16px;
  color: gray;
}

input[type="text"]{
  font-size:16px;
}
/*content inside topic container*/
.topic{
   min-height: 75px;
   margin: 10px 15px;
  //  background-color: #FFFFFF;
   border-left: $green solid 5px;
   display: flex;
   transition: transform 0.1s, box-shadow 0.1s, background-position 0.5s;

   //for transition effect
   background-size: 200% 100%;
   background-image: linear-gradient(to left, #FFF1F1 50%, white 50%);
  //  transition: background-position 0.5s;
}

.topic-hover {
  background-position: -100% 0%;
}

.topic:hover{
  cursor: pointer;
  transform: scale3d(1.02, 1.02, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

.topic .topic-content{
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.topic-content .topic-title{
  display: flex;
  align-items: center;
  flex: 2;
  font-size: 20px;
}

.topic-content .topic-description{
  display: flex;
  align-items: center;
  flex: 1;
  color: #989898;
}

.topic .topic-alert{
  flex: 0 0 40px;
  display: flex;
  flex-direction: column;
  padding: 0px 0 0px 0;
}

.topic-alert .topic-alert-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  // justify-content: space-between;
}

.topic-alert .topic-alert-number, .topic-alert-icon{
  display: flex;
  align-items: center;
  // justify-content: space-between;
  justify-content: center;
  flex: 1;
}

.topic-alert-icon-delete{
position: relative;
top: -15px;
}

// for form validation
.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.comment-creator {
  font-size: 25px;
  color: $lightDarkGray;
}

.comment {
  font-size: 15px;
  color: $hoverGray;
  margin-bottom: 10px;
}

.swing {
  transform-origin: top center;
  animation-name: swing;
}
